In [1]:
import geopandas as gpd

In [5]:
file_path = gpd.read_file("datos-iluminaria/Jesus_Maria_Luminarias_Apostacion.geojson")

### Exploración de datos de apostación de ilumniarias en la ciudad de Jesús María

In [6]:
file_path.head()

  valorunico   tipo  idtipo  id                         geometry
0       3389  SODIO       2   1  POINT (4394435.569 6573172.597)
1       3390  SODIO       2   2   POINT (4394382.49 6573160.727)
2       3391  SODIO       2   3   POINT (4394337.103 6573139.48)
3       3392  SODIO       2   4  POINT (4394304.902 6573129.708)
4       3393    LED       1   5  POINT (4394999.387 6572966.102)

In [7]:
file_path.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3306 entries, 0 to 3305
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   valorunico  3306 non-null   object
 1   tipo        3306 non-null   object
 2   idtipo      3306 non-null   int32
 3   id          3306 non-null   int32
 4   geometry    3306 non-null   geometry
dtypes: geometry(1), int32(2), object(2)
memory usage: 103.4+ KB

In [9]:
file_path.value_counts("tipo")

tipo
SODIO                      1733
LED                        1507
POSTACION SIN ALUMBRADO      66
Name: count, dtype: int64

In [12]:
file_path_2 = gpd.read_file("datos-iluminaria/Jesus_Maria_Luminarias_Red.geojson")

In [14]:
file_path_2.head()

   id  qc_id  tipo dstipo                                           geometry
0   1    357     2  SODIO  MULTILINESTRING ((4395567.692 6571787.741, 439...
1   2    358     2  SODIO  MULTILINESTRING ((4395735.232 6571867.008, 439...
2   3      1     2  SODIO  MULTILINESTRING ((4394637.985 6573456.512, 439...
3   4      2     2  SODIO  MULTILINESTRING ((4394679.157 6573411.48, 4394...
4   5     32     2  SODIO  MULTILINESTRING ((4394759.757 6573496.031, 439...

In [16]:
file_path_2.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        411 non-null    int32
 1   qc_id     411 non-null    int32
 2   tipo      411 non-null    int32
 3   dstipo    411 non-null    object
 4   geometry  411 non-null    geometry
dtypes: geometry(1), int32(3), object(1)
memory usage: 11.4+ KB

In [17]:
file_path_2.value_counts("tipo")

tipo
2    271
1    137
4      3
Name: count, dtype: int64

In [18]:
file_path_2.isna().sum()

id          0
qc_id       0
tipo        0
dstipo      0
geometry    0
dtype: int64